* {
    box-sizing: border-box;
}

h1{
  font-family: Brush Script MT, cursive;
  font-color: #104b9a; 
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.row{
  background: #98b4ec;
}

ul {
  list-style-type: none;
}

nav {
  background-color: #104b9a;
}

.navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
}

main {
  background-color: #e3e9fe;
  text-align: left;
}

footer {
  background-color: #98b4ec;
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}
