* {
    box-sizing: border-box;
}

h1{
  font-family: Brush Script MT, cursive;
}

h3{
  font-family: Arial, sans-serif;
  font-size: 1.7 rem;
  font-weight: bold;
  color: #104b9a;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.col-md-4{
  background: #98b4ec;
  font-weight: bold;
  color: #104b9a;
}

.col-md-8{
  background: #104b9a;
}

ul {
  list-style-type: none;
}

nav {
  background-color: #104b9a;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

main {
  background-color: #e3e9fe;
  text-align: left;
  padding: 10px;
  margin: 0px;
}

.col{
  
}

footer {
  background-color: #98b4ec;
  color: #104b9a;
  font-family: Times New Roman, Times, serif;
  font-weight: bold;
  font-size: 1.7rem
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }
}
